body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(
        to right,
        rgb(235, 244, 225),
        rgb(255, 235, 192)
    );
}

button {
  cursor: pointer;
  background-color: #5f2e00;
}